<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--\Drive_D\ITI_Cources\GP\Implementation\SourceControlSolution\ITI_NLayered\Presentation.UtourWebsite-->
    <add key="SaveImagePath" value="C:\Images" />
    <add key="LayerName" value="UTOURLayer" />
  </appSettings>
  <connectionStrings>
    <add name="UTOURDBEntities" connectionString="metadata=res://ITI.Nlayerd.Infrastructure.Data.UTour/Model.UTourModel.csdl|res://ITI.Nlayerd.Infrastructure.Data.UTour/Model.UTourModel.ssdl|res://ITI.Nlayerd.Infrastructure.Data.UTour/Model.UTourModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=UTOURDB3;Password=p@$$w0rd;Persist Security Info=True;User ID=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
    <!--<add name="UTOURDBEntities" connectionString="metadata=res://*/Model.UTourModel.csdl|res://*/Model.UTourModel.ssdl|res://*/Model.UTourModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=UTOURDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>