<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SaveImagePath" value="C:\Drive_D\ITI_Cources\GP\Implementation\SourceControlSolution\ITI_NLayered\Presentation.UtourWebsite"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HttpEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="HttpEndpoint1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ILoginManagmentContract" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IHotSpotsManagmentContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7935/PhotoUpload.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="HttpEndpoint"
                contract="UploadPhotoServiceReference.IPhotoUpload" name="HttpEndpoint" />
            <endpoint address="http://localhost:7935/LoginRegRevRateMgmtService.svc"
                binding="basicHttpBinding" bindingConfiguration="HttpEndpoint1"
                contract="LoginRegRevRate.ServiceReference.ILoginRegRevRateMgmtService"
                name="HttpEndpoint1" />
            <endpoint address="http://localhost:7935/LoginManagmentService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginManagmentContract"
                contract="LoginManagmentService.ServiceReference.ILoginManagmentContract"
                name="BasicHttpBinding_ILoginManagmentContract" />
            <endpoint address="http://localhost:54131/HotSpotsMgmtService.svc/RetrieveHotSpots"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotSpotsManagmentContract"
                contract="HotSpotsMgmtService.ServiceReference.IHotSpotsManagmentContract"
                name="BasicHttpBinding_IHotSpotsManagmentContract" />
        </client>
    </system.serviceModel>
</configuration>